/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: -1px;
}

/* Pagination Item */
.pagination button {
  display: flex;
  flex-direction: column;
  padding: 5px 9px 5px 8px;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;

  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--gray-white, #fff);
  color: #0d6efd;
  border: 1px solid var(--gray-300, #dee2e6);
  background: var(--HitBox, rgba(255, 255, 255, 0));
}

/* Active Pagination Item */
.pagination button.active {
  background: #0d6efd;
  color: #fff;
}
